
<html>
    <head>
 
    </head>
    <body>
<nav class="collapse navbar-collapse" role="navigation">
<ul class="nav navbar-nav">
<%for(let i=0; i<nav.lenght; i++){%>
<li>
    <a href="<%=nav[i].link%>"><%=nav[i].title%></a>
</li>
<%}%>

</ul>
</nav>



    </body>
</html>
